.nav-bar {
	height: 3rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	.upload-icon {
		margin: 0 1rem;
	}

	.tagline {
		align-self: flex-end;
		font-size: 10px;
		font-style: italic;
		color: gray;
		margin: 5px 5px;
	}

	.title {
		font-weight: 300;
	}
}
