// Variables
$font: 24px;

.foto-container {
	height: 100vh;
	background-color: rgba(33, 33, 33, 0.5);
	backdrop-filter: blur(5px);
	display: flex;
	justify-content: center;

	.foto-image {
		height: 800px;
		align-self: center;
	}

	.foto-side {
		margin: 0 1rem;
		padding: 1rem;
		background-color: black;

		.user {
			display: flex;
			flex-direction: row;
			align-items: center;

			img {
				width: 5rem;
				border-radius: 2.5rem;
				margin-right: 1rem;
			}

			p {
				font-size: $font;
			}
		}

		.foto-info {
			width: 20rem;

			.foto-description {
				font-size: $font;
			}

			.foto-meta {
				span {
					color: #858585;
					padding-left: 1rem;
				}
			}
		}
	}
}
