// Variables
$font: 16px;
$black: #000;

// Mixin
@mixin mQ($arg) {
	@media screen and (max-width: $arg) {
		@content;
	}
}
// End Mixin

.foto-container {
	height: 100vh;
	background-color: rgba(33, 33, 33, 0.5);
	backdrop-filter: blur(5px);
	display: flex;
	justify-content: center;
	@include mQ(480px) {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}
	@include mQ(768px) {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}

	.foto-image {
		object-fit: contain;
		align-self: center;
		box-shadow: 5px 5px 10px black;
	}

	.foto-side {
		margin: 0 1rem;
		padding: 1rem;
		background-color: $black;
		@include mQ(480px) {
			width: 100%;
			overflow: scroll;
		}
		@include mQ(768px) {
			width: 100%;
			overflow: scroll;
		}

		.user {
			display: flex;
			flex-direction: row;
			align-items: center;

			img {
				width: 5rem;
				border-radius: 2.5rem;
				margin-right: 1rem;
			}
		}

		.foto-info {
			width: 20rem;

			.foto-description {
				font-size: $font;
			}

			.foto-meta {
				span {
					color: #858585;
					padding-left: 1rem;
				}
			}
		}
	}

	.close {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 1rem;
		background-color: $black;
		height: 2rem;
		width: 2rem;
		border-radius: 1rem;
		transition: all ease-in-out 300ms;
		&:hover {
			border-radius: 0.5rem;
		}
	}
}
